@font-face {
        font-family: 'UbuntuTitle';
        src: url('/media/customFonts/UbuntuTitle/Ubuntu-Title-webfont.eot');
        src: url('/media/customFonts/UbuntuTitle/Ubuntu-Title-webfont.eot?#iefix') format('embedded-opentype'),
             url('/media/customFonts/UbuntuTitle/Ubuntu-Title-webfont.woff') format('woff'),
             url('/media/customFonts/UbuntuTitle/Ubuntu-Title-webfont.ttf') format('truetype'),
             url('/media/customFonts/UbuntuTitle/Ubuntu-Title-webfont.svg#UbuntuTitle') format('svg');
        font-weight: normal;
        font-style: normal;

    }
    @font-face {
        font-family: 'ComfortaaThin';
        src: url('/media/customFonts/Comfortaa/Comfortaa_Thin-webfont.eot');
        src: url('/media/customFonts/Comfortaa/Comfortaa_Thin-webfont.eot?#iefix') format('embedded-opentype'),
            url('/media/customFonts/Comfortaa/Comfortaa_Thin-webfont.woff') format('woff'),
            url('/media/customFonts/Comfortaa/Comfortaa_Thin-webfont.ttf') format('truetype'),
            url('/media/customFonts/Comfortaa/Comfortaa_Thin-webfont.svg#ComfortaaThin') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'ComfortaaRegular';
        src: url('/media/customFonts/Comfortaa/Comfortaa_Regular-webfont.eot');
        src: url('/media/customFonts/Comfortaa/Comfortaa_Regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('/media/customFonts/Comfortaa/Comfortaa_Regular-webfont.woff') format('woff'),
            url('/media/customFonts/Comfortaa/Comfortaa_Regular-webfont.ttf') format('truetype'),
            url('/media/customFonts/Comfortaa/Comfortaa_Regular-webfont.svg#ComfortaaRegular') format('svg');
        font-weight: normal;
        font-style: normal;

    }

    @font-face {
        font-family: 'ComfortaaBold';
        src: url('/media/customFonts/Comfortaa_Bold-webfont.eot');
        src: url('/media/customFonts/Comfortaa_Bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('/media/customFonts/Comfortaa_Bold-webfont.woff') format('woff'),
            url('/media/customFonts/Comfortaa_Bold-webfont.ttf') format('truetype'),
            url('/media/customFonts/Comfortaa_Bold-webfont.svg#ComfortaaBold') format('svg');
        font-weight: normal;
        font-style: normal;

    }
    
    @font-face {
    font-family: 'TizaRegular';
    src: url('/media/customFonts/Tiza/tiza-webfont.eot');
    src: url('/media/customFonts/Tiza/tiza-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/customFonts/Tiza/tiza-webfont.woff') format('woff'),
         url('/media/customFonts/Tiza/tiza-webfont.ttf') format('truetype'),
         url('/media/customFonts/Tiza/tiza-webfont.svg#TizaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}