body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}

body.d0{
	background:url(../images/fwsa/back.jpg) center top;
}

.d1{
	background:url(../images/fwsa/logo.png) center left no-repeat;
	width:1000px;
	height:181px;
	margin:0 auto;
/*        cursor: pointer;*/
}

.d1 ul#nav_top{
	margin:18px 0 0 0;
	padding:0;
	list-style:none;
	float:right;
}

.d1 ul#nav_top li{
	background:url(../images/fwsa/separacion.png) center right no-repeat;
	float:left;
}

.d1 ul#nav_top li:last-child{
	background:none;
}

.d1 ul#nav_top li a{
	width:103px;
	height:38px;
	float:left;
	margin-right:10px;
	outline:none;
	text-align:center;
	text-decoration:none;
	padding-top:65px;
	padding-left:3px;
	color:#ff8a00;
	font-family: 'Satisfy', cursive;
	font-size:20px;
}

.d1 ul#nav_top li a:hover, .d1 ul#nav_top li a:focus{
	color:#164498;
}


.d1 ul#nav_top li a.a5{margin:0;}

.d1 ul#nav_top li a.a1{background:url(../images/fwsa/btn01_01.png);}
.d1 ul#nav_top li a.a2{background:url(../images/fwsa/btn02_01.png);}
.d1 ul#nav_top li a.a3{background:url(../images/fwsa/btn03_01.png);}
.d1 ul#nav_top li a.a4{background:url(../images/fwsa/btn04_01.png);}
.d1 ul#nav_top li a.a5{background:url(../images/fwsa/btn05_01.png);}
.d1 ul#nav_top li a.a1:hover, .d1 ul li a.a1:focus{background:url(../images/fwsa/btn01_02.png);}
.d1 ul#nav_top li a.a2:hover, .d1 ul li a.a2:focus{background:url(../images/fwsa/btn02_02.png);}
.d1 ul#nav_top li a.a3:hover, .d1 ul li a.a3:focus{background:url(../images/fwsa/btn03_02.png);}
.d1 ul#nav_top li a.a4:hover, .d1 ul li a.a4:focus{background:url(../images/fwsa/btn04_02.png);}
.d1 ul#nav_top li a.a5:hover, .d1 ul li a.a5:focus{background:url(../images/fwsa/btn05_02.png);}

.d1 div{
	background:url(../images/fwsa/registrate.png);
	float:right;
	width:160px;
	height:140px;
	margin:15px 8px 0 25px;
	padding-top:15px;
	text-align:center;
}

.d1 div span{
	display:block;
	font-size:16px;
	margin-bottom:3px;
	font-family: 'Michroma', sans-serif;
	font-size:14px;
}

.d1 div label{
	font-size:12px;
}

.d1 div input[type=text], .d1 div input[type=password]{
	width:119px;
	border-radius:5px;
	border:1px solid #CCC;
	padding:2px;
	background:#FAFAFA;
}

.d1 div input[type=text]:focus, .d1 div input[type=password]:focus{
	outline:none;
	background:#fff;
}

.d1 div button{
	background:url(../images/fwsa/ingresar.png);
	width:119px;
	height:23px;
	border:none;
	margin-top:2px;
	color:#fff;
	font-family: 'Michroma', sans-serif;
	font-size:12px;
}

.d1 div input[type=button]:hover, .d1 div input[type=button]:focus{
	background:url(../images/fwsa/ingresar02.png);
	outline:none;
	cursor:pointer;
}


.d2{
	width:1000px;
	height:30px;
	margin:0 auto;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-size:10px;
}

.d21{
	background:#08142c;
	width:140px;
	height:21px;
	float:left;
	padding-bottom:8px;
}

.d21 a{outline:none;border:none}

.d21 span{float:left;margin-top:8px;margin-left:10px}

.d22{
	background:#0051bd;
	width:260px;
	height:21px;
	float:left;
	padding-top:9px;
	font-size:8px;
	font-family: 'Michroma', sans-serif;
}

.d23{
	background:#75ca09;
	width:600px;
	height:21px;
	float:left;
	padding-top:9px;
	text-transform:uppercase;
}

.d23 ul{
	margin:0 0 0 20px;
	padding:0;
	list-style:none;
}

.d23 ul li{
	float:left;
	border-right:1px solid #fff;
}

.d23 ul li:last-child{
	border-right:none;
}

.d23 ul li a{
	text-decoration:none;
	color:#fff;
	padding:0 10px;
}

.d23 ul li a:hover, .d23 ul li a:focus{
	color:#164498;
	outline:none;
}

.d3{
	background:url(../images/fwsa/back.png) repeat-y;
	width:1039px;
	height:1005px;
	margin:0 auto;
}

.d31{
	width:1000px;
	height:auto;
	margin:0 auto;
	padding-top:10px;
}


.d32{
	display:block;
	width:400px;
	height:auto;
	float:left;
}

.d33{
	border:2px solid #91B9E4;
	border-radius:5px;
	background:#EEF3F9;
	border-radius:5px;
	width:390px;
	height:400px;
	margin-left:5px;
	margin-bottom:5px;
        letter-spacing: 1px;
}

.d34{
	border:2px solid #91b9e4;
	border-radius:5px;
	width:390px;
	height:290px;
	margin-left:5px;
}

.d35{
	
	border:2px solid #91b9e4;
	border-radius:5px;
	display:block;
	width:580px;
	height:700px;
	float:left;
	margin:0 0 0 10px;
}

.d35 h3{
	background:url(../images/fwsa/cabpack.png) top no-repeat;
	height:23px;
	padding:0 0 0 50px;
	margin:0;
	color:#fff;
	font-size:14px;
	font-family: 'Michroma', sans-serif;
}

.d36{
	border:2px solid #91b9e4;
	border-radius:5px;
	width:985px;
	height:275px;
	float:left;
	margin-top:8px;
	margin-bottom:10px;
	margin-left:5px;
}

.d4{
	width:1000px;
	height:80px;
	margin:0 auto;
}

.d41{
	background:url(../images/fwsa/logoinferior.png) center left no-repeat;
	float:left;
	width:270px;
	height:45px;
	margin:10px 0 0 20px;
	padding:10px 0 0 60px;
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
}

.d41 span{
	display:block;
	font-size:10px;
}

.d42{
	background:url(../images/fwsa/codigo.png) right no-repeat;
	float:right;
	width:413px;
	height:47px;
	margin:10px 0 0 0;
}
