.show_content
{
    width:1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding:5px;
}  


input[type=text],input[type=password],textarea,select{
    padding: 2px;
}
.titleTables
{
    font-size:17px;
    font-weight:bold;
    margin-top: 10px;
    padding: 5px;
    width: 50%;
    text-align: center;
}
.label_output,.label_output_ui{
    margin: 5px;
}
.label_output div, .label_output_ui div{
    display: table;
    margin: 1px;
    padding-top: 2px;

}

.label_output div label,.label_output_ui div label{
    display: table-row;
    float: left;
    max-width: 150px;
    min-width: 150px;
    text-align: right;
    white-space: pre-line;
    padding: 3px;
    font-weight: bold;
}

.label_output div *,.label_output_ui div *{
    float: left;
    font-weight: normal;
}

.rCombo{
    padding: 4px;
    cursor:pointer;
}

   
    .frmlabel {
        display: block;
        float: left;
        font-weight: bold;
        height: 14px;
        padding-top: 5px;
        width: 120px;
    }
.frmlbl
{   
    font-size: 12px;
    width:130px;
    display:block;
    float:left;
    height:16px;
    padding-top:5px;
    font-weight: bold;   
}
.frmlbl_long
{
    width:200px;
    display:block;
    float:left;
     height:16px;
    padding-top:5px;
    font-weight: bold;   
}
.titles
{
    font-size: 12px;
    display:block;
    float:left;
    height:16px;
    padding-top:3px;
    /*margin-left: 50px;*/
    margin-right: 5px;
    font-weight: bold;   
}
.titleLeft
{
    text-align: left;
}
.titleRight
{
    text-align: right;
}
.short_label{
        font-weight: bold;  
        width: 60px;
    }
.long_label{
        font-weight: bold;  
        width: 120px;
    }
    
.show_content
	{
		width:1200px;
                margin-right: auto;
                    margin-left: auto;
		margin-top: 30px;
		padding:5px;
	}    
 .class_p{
        clear: left;
        margin: 5px 0;
    }
    .fieldset{
        padding: 5px;
    }   
