/* 
    Document   : default_theme
    Created on : 05/11/2010, 10:04:09 AM
    Author     : Emmanuel
    Description:
        Purpose of the stylesheet follows.
*/


body{
    font-size: 12px;
    padding-top: 40px;
    background-color: #F3F3F3;
}
legend{padding:4px 7px;}
#canvasMapCiudad {
    height:260px;
    width:875px;
}

.private_zone_translate{
    position: absolute; right: 0px; padding-right: 15px; padding-left: 15px; margin-top: 5px;
    -moz-border-radius: 4px 0px 0px 4px;
    background-image: url('../images/mini_bg.png');
    background-repeat: repeat;
    color: white;
    font-size: medium;
    width: 270px;
    border: 1px white solid;
    border-right: none;
}

.language_label{
    display: block;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}

/********************************************
        Styles for view/private/admin
*********************************************/
*{
    margin: 0px;
    padding: 0px;
}


div#header{
    height: 78px;
    border:none;
}
/*
#admin_mini_logo{
    display: block;
    float: left;
    border-radius: 5px 5px 5px 5px;
    margin-top: 12px;
    margin-left: 25px;
}*/

div#wrapper{border-left:0;border-right:0;width:100%;} 
div#content{min-height:400px;width:100%;position:relative;margin-bottom:30px;z-index:1;}
div#subcontent{color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;margin-left:auto;margin-right:auto;z-index:1;display:block;padding:0;} 
div#dynamic_content{
    display: inline-block;
    width: 100%;
}
div#subfooter{bottom:0;font-size:12px;height:20px;padding-top:5px;position:fixed;text-align:right;width:100%;z-index:30;border-color:#000 0;border-style:solid none;border-width:1px 0;}

div#sessionActions{
    text-align: right;
    position:absolute;
    right:0px;
    font-size:small;
    color:white;
    min-width: 281px;
    background-image:url('../images/mini_bg.png');
    padding:3px;
    padding-right: 15px;
    -moz-border-radius:3px 0px 0px 3px;
    border: 1px white solid;
    border-right: 0px white none;
    margin-top:48px;
}
 .ui-button.icon .ui-icon{background-image: url("img/glyphicons-halflings-white.png");}
    .ui-button .icon_fire{background-position: -72px -120px;}
    .ui-button .icon_gift{background-position: -24px -120px;}
/*
a#accountInfo{
    cursor: pointer; padding-right: 15px; padding-left: 10px; font-weight:bold;
}
a#logout{
    cursor: pointer; font-weight:bold;text-decoration: none; color: white;
}

a#logout:hover{
    color: #FF8B32;
}

a#logout img{
    border: none;
}
*/
.open_node{
    background-image: url('../images/folder_closed.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: left;
    display: inline-block;
    margin-right: 5px;
}

.close_node{
    background-image: url('../images/folder_open.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: left;
    display: inline-block;
    margin-right: 5px;
}

.disable_node{
    background-image: url('../images/folder_disabled.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    float: left;
    display: inline-block;
    margin-right: 5px;
}

.php_action_node{
    background-image: url('../ico/php.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    float: left;
    display: inline-block;
    margin-right: 5px;
}

#errorMessages{
    color:white;
    max-width: 300px;
    min-width: 300px;
    right: 20px;
    bottom: 5px;
    position: fixed;
    z-index: 5000;
    display: none;

}

#errorMessages .header{
    background:url('../css/msg_img/gritter-long.png') no-repeat left -30px;
    height:10px;
}
#errorMessages .content{
    background:url('../css/msg_img/gritter-long.png') no-repeat left -40px;
    min-height: 50px; padding-left: 5px; padding-top: 5px;
}

#errorMessages .content .img{
    float: left;
}
#errorMessages .content .text .title{
    padding-left: 53px; font-size: 12px; font-weight: bold;
}
#errorMessages .content .text .message{
    padding-left: 53px; padding-top: 2px; padding-bottom: 2px;font-size: 11px;
}

#errorMessages .content .text .message p{
    padding-right: 5px;
}

#errorMessages .footer{
    width: 100%;background:url('../css/msg_img/gritter-long.png') no-repeat left bottom;
    height:8px;
    margin:0;
}

.check_true{
    display: block;
    background:url('../ico/access_granted.png') no-repeat center;
    cursor: pointer;
    min-width: 16px;
    min-height: 16px;
    border: none;
    margin: 0 auto;

}

.check_false{
    display: block;
    background:url('../ico/access_denied.png') no-repeat center;
    cursor: pointer;
    min-width: 16px;
    min-height: 16px;
    border: none;
    margin: 0 auto;

}

.label_privilege{
    min-width: 120px;
    max-width: 120px; display: inline-block; padding-left: 5px; padding-right: 5px; white-space: pre-wrap;
    text-align: center;
}

.debug_div{
    background:url('../images/mini_bg.png');
    -moz-border-radius: 2px;
    position: absolute;
    z-index: 10000;
    min-width: 90%;
    margin-left: 5%;
    min-height: 450px;
    max-height: 550px;
    color: white;
    top: 13%;
    padding: 10px;
    overflow: auto;
}

.access_denied_meesage{
    background:url('../images/mini_bg.png');
    -moz-border-radius: 3px;
    padding: 10px;
    line-height: 20px;
    width: 450px;
    font-size: large;
    font-weight: bold;
    color: white;
}
.access_denied_meesage img{
    float: left;
}

.access_denied_meesage p{
    margin-top: 5%;
}
.titleConfirmBox, .titleForm,.msgConfirmBox,.none,.dialog
{    
    display: none;
}
.no_header,.header_full_css_class{
    display: none;
}


.clear{clear: both;}
/* Headers y Content */
.divTitle{min-width: 1000px;}
.divTitlePadding1{padding: 2px;}
.divTitlePadding2{padding: 5px;}
.divContent{margin-top: 10px;min-width: 1000px;}
.divContentPadding{padding: 5px;}


/*Paqueteria*/
.orderForm ul li{padding: 5px;}
div.divLine{float: left;width: 350px;}
div.divLine label{font-weight: bold;}
input.inputData{width: 200px;}

/*Routes*/
ul.routeOffice li{padding: 3px 0;}
ul.routeOffice li input,ul.routeOffice li label{float: left;}

div#frmCroquis{float: left;width: 950px;}
div#legend{float: left;width: 250px;}
div#legend p{text-align: left;padding-left: 15px;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;line-height: 22px;}
div#legend p img{margin-right: 5px;}
form#frmbus{float: left;min-width: 400px;}
div#frmCroquis i
{
    font-weight: normal;
}

#content_messages {    
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom,
        color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
        color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
        to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);

    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;    
    color: #fff;
    position: relative;
    _position: relative;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    -webkit-animation: animate-bg 5s linear infinite;
    -moz-animation: animate-bg 5s linear infinite;
    background-color: #4ea5cd;
    border-color: #3b8eb5;
    border-bottom: 1px solid;
}

@-webkit-keyframes animate-bg
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}
@-moz-keyframes animate-bg
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}


ul.menu_right{float: right; display: inline-block;line-height: 1em;list-style: none outside none;margin: 0;position: relative; font-size: 0.8em; margin-top: -4px;}
ul.menu_right li {margin-right: 5px;}
ul.menu_right li:last-child {margin-right: 0px;}
ul.menu_right li.menu_right_li_top{float: left;height: 16px;padding: 4px;list-style: none;}
ul.menu_right li.menu_right_li_top > .item{cursor: pointer;display: block;font-size: 12px;margin: 0;outline: medium none;padding: 0;position: relative;text-transform: uppercase;white-space: nowrap;z-index: 100;}
ul.menu_right li.menu_right_li_top .item span{ white-space: nowrap;display: block;line-height: 16px;}
ul.menu_right li.menu_right_li_top .item span em{float: left;}
ul.menu_right li.menu_right_li_top .item span b{display: block;float: left;font-weight: normal;}
ul.menu_right li.menu_right_li_top_no_padding{padding: 0;}


ul#ulMessages{
    overflow-y:auto;
    overflow-x:visible;
    height: 400px;
    -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid black;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    font: 15px Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
    position: absolute;width: 350px;right: -6px;
    top:-1px;
    background-image: none;
    z-index: 0; color: #444444;background-color: white;padding-bottom: 5px;}
ul#ulMessages li:not(:last-child){border-bottom: 1px solid #EBEBEB;border-top: 1px solid transparent;clear: both;display: block;min-height: 60px;outline: medium none;position: relative;}
ul#ulMessages li.message_new{
    background-color: #FFEEEE;
}
ul#ulMessages li div.div_message{
    font-size: 13px;
    padding: 7px 10px;
    position: relative
}
.msg_response_btn,.msg_response_view{visibility: hidden;}

ul#ulMessages li:hover:not(:last-child){
    background-color: rgba(0, 153, 185, 0.1);
    border-color: rgba(0, 153, 185, 0.15);
}

.general_msg_footer{
    color:#999999;
}
ul#ulMessages li:hover:not(:last-child) .general_msg_footer{
    color: #0099B9;
}

ul#ulMessages li.li_post_message .msg_response_btn, ul#ulMessages li.li_post_message .msg_response_view{
    visibility: visible;
}
ul#ulMessages li.li_post_message .icon_response{
    background-position: -16px 0;
}
ul#ulMessages li.li_post_message .icon_view_msg{
    background-position: -48px -31px;
}
ul#ulMessages li.li_post_message .general_msg_footer{
    color: #0099B9;
}
ul#ulMessages li.li_post_message .general_msg_footer .msg_response_btn,
ul#ulMessages li.li_post_message .general_msg_footer .msg_response_view{
    text-decoration: underline;
}

ul#ulMessages li:hover:not(:last-child) .msg_response_btn,ul#ulMessages li:hover:not(:last-child) .msg_response_view{
    visibility: visible;
}
.msg_response_btn:hover .icon_response{
    background-position: -16px 0;
}

.msg_response_view:hover .icon_view_msg{
    background-position: -48px -31px;
}

.icon_response{
    float: left;
    background: url('/media/images/icons/t_icons.png') no-repeat scroll 0 0 transparent;    
    height: 15px;    
    width: 15px;
    margin: 0 2px;
    outline: none;
    text-indent: -99999px;
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 3px;
    position: relative;
    vertical-align: baseline;
}
.icon_view_msg{
    float: left;
    background: url('/media/images/icons/t_icons.png') no-repeat scroll 0 0 transparent;    
    height: 15px;  
    background-position: -32px -31px;
    width: 15px;
    margin: 0 2px;
    outline: none;
    text-indent: -99999px;
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 3px;
    position: relative;
    vertical-align: baseline;
}

ul#ulMessages li div.row{ display: block;line-height: 15px;position: relative;}
ul#ulMessages .user_name{color: #333333 !important;font-weight: bold;}
ul#ulMessages .message_date{color: #999999;font-size: 12px;}
ul#ulMessages .message_text{  font-family: Arial,"Helvetica Neue",sans-serif;line-height: 19px;padding: 0;word-wrap: break-word;color: #0099B9;}

ul#ulMessages .old_notification{background-color: #FEFEFE;}

ul#ulMessages .message_container{width: 750px;margin: 0 auto; padding: 10px;}
ul#ulMessages .more_messages{
    background: none repeat scroll 0 0 #E3F1FA;
    border: 1px solid #C6E4F2;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: block;
    font-size: 13px;
    margin: 10px 15px;
    padding: 5px 1px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    z-index: 2;
}
ul#ulMessages .more_messages:hover {
    background: none repeat scroll 0 0 #D9ECF9;
    border-color: #B1D4E4;
}
ul#ulMessages .more_messages:active {
    background: none repeat scroll 0 0 #E3F1FA;
}

.general_msg_image{float: left;width: 48px;height: 48px;overflow: hidden;border: none;cursor: pointer;}
.general_msg_content{margin-left: 55px;}

.general_time{margin-right: 5px;float: left;font-size: 11px; cursor: pointer;}
.general_time:hover{text-decoration: underline; }

.msg_response_btn,.msg_response_view{margin-right: 5px;float: left;font-size: 11px; cursor: pointer;}
.msg_response_btn:hover, .msg_response_view:hover{text-decoration: underline;}

#msg_response_view_div{z-index: 99;position: absolute;}
.msg_response_view_shadow{  background-color: black;height: 410px;opacity: 0.75;position: absolute;width: 340px;z-index: -1;}
.msg_response_view_cont{  height: 390px;position: absolute;width: 320px;z-index: -1;}

.msg_response_view_inner{font-family: Arial,"Helvetica Neue",sans-serif;background: white;height: 100%;color: black;overflow: auto;}
.msg_response_view_inner h4{color: #0099B9;font-size: 16px;}
.msg_response_view_inner p{padding: 10px 0;font-size: 14px;line-height: 18px;}

.msg_response_view_loading{width: 300px;height: 370px;position: absolute;z-index: 100;background-image: url('/media/images/ajax-loading.gif');background-repeat: no-repeat;background-color: #FFF;background-position: 50% 50%;}

#msg_response_view_div{display: none;}

.general_msg_footer{line-height: 16px;}
#msg_response_div{    
    height: 150px;
    position: absolute;
    width: 340px;
    z-index: 99;
    display: none;

}
.padding10{padding: 10px;}
.padding5{padding: 5px;}
.msg_response_shadow{position: absolute;width: 340px;height: 150px;background-color: black;opacity: 0.75;  z-index: -1;}
.msg_response_form_div{z-index: 200;}

ul#ulMessages li.li_post_message, ul#ulMessages li.li_post_message:hover{background-color:  rgba(255, 102, 0, 0.2);}

#f_instant_msg_cont{ font-size:15px;color:#0099B9; resize: none;background-image: url('/media/images/08-chat.png');height: 90px;width: 313px;    background-position: 5px 67px;background-repeat: no-repeat;}
.f_instant_actions{margin-top: 10px;}

#f_instant_submit{float: right;}
#f_instant_close{float: left;}

.f_instant_btn{background: none; border: none;cursor: pointer;border: 1px solid transparent;}
.f_instant_btn:hover{border-color: #C6E4F2;}
.f_instant_icon{width: 16px;height: 16px;margin: 0 3px;float: left;}
.f_instant_text{color: #C6E4F2;margin-right: 3px;}
/*.f_instant_close{float: left;width: 16px;height: 16px;margin: 0 3px;}*/

#dlg_form_message_content{width: 350px;height: 120px;font-size: 15px;}
.ui-widget .lightSearch{font-style: italic;color: #CCCCCC;}
span.spanSearchLeft{float: left;}
span.spanSearchRight{float: right;}
input#dlg_form_value_search{width: 350px;font-size: 18px;}
#form_message_t ul li{padding: 5px 0;}

.user_msg{padding-left:5px;padding-right:5px; margin: 5px;}
.user_msg p{text-align: justify; padding: 3px;}
.user_msg p .ui-icon{float: left; margin-right: .3em;}
#cp-text-error,#cp-text-info{padding-left: 4px;}

#menu_cont_msg{    
    /*height: 407px;*/
    position: absolute;
    right: 0;
    top: 34px;
    width: 700px;
}
.div_img_action_msg{
    background-repeat: no-repeat;
    background-position: 0px 25px;
    height: 25px;
    margin-top: -1px;
    position: absolute;
    width: 24px;
    background-image: url(/media/images/icons/t_response.png);
}
.div_img_action_response{
    background-position: 0px 0px;
}

/* Ayuda de Usuario */
ul.menu_right_help{float: right; display: inline-block;line-height: 1em;list-style: none outside none;margin: 0;padding: 0px 6px;position: relative;}

.span_text_help{
    float: left;
    padding-left: 15px;
    width: 255px;
    padding-top: 1px;
    text-align:justify;
}
.ul_help li{
    margin-bottom: 5px;
}

.span_icon_help{         
    background-position: 50% 0;
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    width: 32px;
}

.span_icon_help_delete{
    background-image: url("/media/ico/trash_b.png");
}

.span_icon_help_road{
    background-image: url("/media/ico/road1.png");
}

.span_icon_help_edit{
    background-image: url("/media/ico/edit_b.png");
}

.span_icon_help_save{
    background-image: url("/media/ico/save.png");
}

.span_icon_help_copy{
    background-image: url("/media/ico/copy.png");
}

.span_icon_help_flip{
    background-image: url("/media/ico/flip.png");
}

.span_icon_help_sketch{
    background-image: url("/media/images/bus/seleccionado_asienton1.png");
}

.span_icon_help_sticky_note{
    background-image: url("/media/ico/sale/sticky-note--pencil.png");
}

.span_icon_help_ticket_stub{
    background-image: url("/media/ico/sale/ticket-stub.png");
}

.span_icon_help_ticket_minus{
    background-image: url("/media/ico/sale/ticket--minus.png");
}

.span_icon_help_money_plus{
    background-image: url("/media/ico/sale/money--plus.png");
}

.span_icon_help_manual_ticket{
    background-image: url("/media/ico/sale/manual_ticket.png");
}

.span_icon_help_money_receipt{
    background-image: url("/media/ico/sale/receipt.png");
}

.span_icon_help_money_agent{
    background-image: url("/media/ico/sale/agent.png");
}

.span_icon_help_money_printer{
    background-image: url("/media/ico/sale/printer.png");
}
/*Cuentas por Cobrar */
.span_icon_ticket_active{
    background-image: url("/media/ico/m_Circle_Green.png");
}

.span_icon_ticket_desactive{
    background-image: url("/media/ico/m_Circle_Grey.png");
}
/* Fin de CPP */

.left{float: left;}
.right{float: right;}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}
/*.ui-autocomplete-input {height: 23px;}
 IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 150px;
}

/* Ayuda de Usuario */
.span_text_help{
    float: left;
    padding-left: 15px;
    width: 255px;
    padding-top: 1px;
}

.span_titledescription_help{
    float: left;
    background:url(/media/images/marker2.png) no-repeat left 4px !important;
    padding-left: 15px;
    margin-left: 12px;
    width: 255px;
    padding-top: 1px;
    font-weight: bold;
}

.span_description_help{
    float: left;
    padding-left: 45px;
    width: 255px;
    padding-top: 1px;
}

.ul_help li{
    margin-bottom: 5px;
}

.span_icon_help{         
    background-position: 50% 0;
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    width: 32px;
}

.span_icon_help_delete{
    background-image: url("/media/ico/trash_b.png");
}

.span_icon_help_road{
    background-image: url("/media/ico/road1.png");
}

.span_icon_help_edit{
    background-image: url("/media/ico/edit_b.png");
}

.span_icon_help_copy{
    background-image: url("/media/ico/copy.png");
}

.span_icon_help_flip{
    background-image: url("/media/ico/flip.png");
}

.span_icon_help_sketch{
    background-image: url("/media/images/bus/seleccionado_asienton1.png");
}

/* Fin Ayuda */

.div_company_dir_surround *{position: relative;}

.div_company_form{
    background-color: rgba(0,0,0, 0.65);
    height: 215px;    
}

.div_company_form .div_company_inner{    
    height: 205px;
    background: #00e57d;
    float: left;
}
.div_company_form .div_company_inner.new_dir{ 
    background: #00bbe5;
}

.div_company_table{
    margin-top: 5px;
    background-color: rgba(0,0,0, 0.65);
    height: 215px;
}

.div_company_table .div_company_inner{
    height: 205px;
    background-color: #ff471e;
}
.dir_arrow{width: 40px;height: 100%;position: absolute;}
.dir_arrow_left{left: 0;}
.dir_arrow_right{left: 410px;}
.dir_arrow_left .dir_icon{
    background-image: url('/media/images/icons/icon_round_arrow_left.png');
    background-position: 6px 50%;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    margin-top: 77px;
    width: 40px;
    z-index: 99;
}
.dir_arrow_right .dir_icon{
    background-image: url('/media/images/icons/icon_round_arrow_right.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    margin-top: 77px;
    width: 40px;
    z-index: 99;
}

.div_company_inner ul{padding: 0 25px; color: #004251;}
.div_company_inner li:not(:first-child){margin-bottom: 5px;border: 1px solid #84e8ff;background-color: #F6F6F6;}
.div_company_inner li:first-child{margin-bottom: 10px;}
.div_company_inner li label{float: left;font-size: 14px;height: 24px;line-height: 24px;padding-left: 8px;text-align: left;width: 100px;}
.div_company_inner li input{background-color: white;border: medium none;float: right;height: 22px;width: 256px;line-height: 22px;font-size: 14px;}
.div_company_inner li select.ui-widget{border: medium none;
                                       border-bottom-left-radius: 0;
                                       border-top-left-radius: 0;
                                       float: right;
                                       font-size: 14px;
                                       height: 27px;
                                       line-height: 28px;
                                       padding: 2px;
                                       width: 260px;}

.div_company_title{color: white;font-size: 16px;height: 25px;line-height: 25px;}
.div_company_title .ui-icon{float: left;margin-top: 5px;}
.div_company_title .div_company_count{float: right;}

.company_dir_action button{float:right;background: none;cursor: pointer;border: none;color: white;}
.company_dir_action button span.ui-icon{float: left;margin: 0 3px;border: 1px solid transparent;}
.company_dir_action button:hover span.ui-icon{border: 1px solid #84e8ff;}
.company_dir_action button:hover{color: #000;}
.company_dir_action button span.company_btn{margin-right: 3px;}

.ui-dialog{
    box-shadow: rgba(0, 0, 0, 1) 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px;
}
.div_row_frm {
    clear: both;
    margin-bottom: 5px;
    float: left;
}
.l_form {
    width: 200px;
    line-height: 25px;
    font-weight: bold;
    float: left;
    padding-right: 15px;
    text-align: right;
}
div.sub_item{float: left;}

#loading{
    width: 270px;
    height: 60px;
    padding: 10px;
}

.ibus-user-profile-options{
    box-shadow: 5px 8px 3px rgba(255, 255, 255, 0.500) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    border: groove #CCCCCC 1px;
    display: none;
    top: 3em;
    position: absolute;
    -moz-border-radius: 4px; 
    border-radius: 4px;
    color: black;
    width: 120px;
    right: 0;
    -moz-box-shadow: 0 0 5px 2px #CCCCCC;
    -webkit-box-shadow: 0 0 5px 2px #CCCCCC;
    box-shadow: 0 0 5px 2px #CCCCCC;
    width: 115px;
}
.ibus-user-profile-options > div{ margin: 5px; text-align: right;}
.ibus-user-profile-options > div a{ font-size: 1.2em; font-weight: normal; line-height: 1.8em; display: inline-block; color: black; text-decoration: none; cursor: pointer; padding-right: 4px; padding-left: 4px; display: list-item;}
.ibus-user-profile-options > div a:visited{ color: black;}
.ibus-user-profile-options > div a:hover{font-weight: bold; color: white; text-shadow: 0em 0em 0.7em #F2F2F2; background-color: black;-moz-border-radius: 4px; border-radius: 4px; opacity: 0.9;}


.ibus-profile-btn{
    float: left;
    height: 16px;
    padding: 4px;
    color: white; 
    font-size: 1em; 
    font-weight: bold; 
    background-color: black; 
    border: solid black 1px; 
    line-height: 1.5em; 
    padding: 6px; 
    -moz-border-radius: 4px; 
    border-radius: 4px;
    opacity:0.6;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); 
}

.ibus-profile-btn:hover,.ibus-profile-btn-hover{
    opacity:1;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

div.ibus-user-profile-options:after{
    position: absolute;
    top: -10px;
    right: 1.5em;
    border-bottom: solid white 10px;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    content: '';
}