#iMenuContainer{
    position: fixed; width: 100%; top: 0px; z-index: 30; min-width: 800px;
}

#iMenu{
    width: 100%;
    border-bottom: black solid 1px;
    font-size: 1.2em;
}
#iMenu ul li,ul li{
    list-style: none;
}
#iMenu.ui-state-default{
    border-right: none;
    border-left: none;
}    
#iMenu > div{
    margin: 5px;
}    
#iMenu > div > ul {
    /*margin: 5px;*/
    list-style: none outside none;
}    
#iMenu ul.iMainMenu {
    position: relative;
    z-index: 100;
}
#iMenu ul.iMainMenu li{
    line-height: 2em;
    position: relative;

}
#iMenu ul.iMainMenu p{
    cursor: pointer;
    padding: 0 0.2em;
    display: inline-block;
    border: none;        
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}
#iMenu ul.iMainMenu > li{
    float: left;
    margin-right: 15px;

}

#iMenu ul.iMainMenu > li ul{
    position: absolute;
    visibility: hidden;
    min-width: 170px;
    left: 0px;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    background-image: none;
}

#iMenu ul.iMainMenu > li ul li a{
    line-height: 2em;
    text-decoration: none;
    display: inline-block;
    width: 97%;
    white-space: nowrap;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;

}
#iMenu ul.iMainMenu > li ul li a span{
    /*float: right;*/
    display: inline-table;
    right: 2px;
    top: 0.4em;
    position: absolute;
    /*width: 16px;
    position: absolute;
    top: 0.4em;
    right: 0.8em;*/

}
#iMenu div.ui-state-active .ui-icon{
    background-image: none;
}
#iMenu ul.iMainMenu ul li:only-child{
    -moz-border-radius: 0.5em 0.5em 0 0;
    border-radius: 0.5em 0.5em 0 0;
}
#iMenu ul.iMainMenu ul li:first-child{
    -moz-border-radius: 0.5em 0.5em 0 0;
    border-radius: 0.5em 0.5em 0 0;
}
#iMenu ul.iMainMenu ul li:last-child{
    -moz-border-radius:  0 0 0.5em 0.5em;
    border-radius: 0 0 0.5em 0.5em;
}

#iMenu ul.iMainMenu > li ul.iMenu-visible{
    position: absolute;
    visibility: visible;
}
#iMenu ul.iMainMenu > li ul.iSubMenu-visible{
    top: 0px;
}
#iMenu ul.iMainMenu li{
    /*top: 0px*/
}
#iMenu ul.iMainMenu li.ui-state-active{
    border: none;
}