/* 	tableStyle	
*/

table.tblcss,table.tblcss td{
	font:100% Arial, Helvetica, sans-serif; 
}
table.tblcss{width:100%;border-collapse:collapse;margin:1em 0;}
table.tblcss caption{ text-align: left; font-size: 12px;}
table.tblcss th,table.tblcss td{text-align:left;padding:.4em;border:1px solid #fff;}
table.tblcss th{background:#328aa4 url(/media/images/tr_back.gif) repeat-x;color:#fff;}
table.tblcss td{background:#e5f1f4;}
table.tblcss tr.even td{background:#e5f1f4;}
table.tblcss tr.odd td{background:#f8fbfc;}
table.tblcss th.over,table.tblcss  tr.even th.over,table.tblcss  tr.odd th.over{background:#4a98af;}
table.tblcss th.down,table.tblcss  tr.even th.down,table.tblcss  tr.odd th.down{background:#bce774;}
table.tblcss th.selected,table.tblcss  tr.even th.selected,table.tblcss  tr.odd th.selected{}
table.tblcss td.over,table.tblcss tr.even td.over,table.tblcss tr.odd td.over{background:#ecfbd4;}
table.tblcss td.down,table.tblcss tr.even td.down,table.tblcss tr.odd td.down{background:#bce774;color:#fff;}
table.tblcss td.selected,table.tblcss  tr.even td.selected,table.tblcss tr.odd td.selected{background:#bce774;color:#555;}
table.tblcss td.empty,table.tblcss tr.odd td.empty,table.tblcss tr.even td.empty{background:#fff;}