.chatbox {
    position: fixed;
    position:expression("absolute");
    width: 225px;
    display:none;
    z-index: 9999;
}

.chatboxhead {
    /*background-color: #f99d39;
    border-right:1px solid #f99d39;
    border-left:1px solid #f99d39;
    color: #ffffff;*/
    background-image: none;
    padding:7px;
    z-index: 9999;
    font-weight: bold;
    height: 18px;

}

.chatboxblink {
    /*background-color: #176689;
    border-right:1px solid #176689;
    border-left:1px solid #176689;*/
    background-image: none;
    z-index: 9999;
}

.chatboxcontent {
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #333333;
    height:200px;
    width:209px;
    overflow-y:auto;
    overflow-x:auto;
    padding:7px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #eeeeee;
    background-color: #ffffff;
    z-index: 9999;
    line-height: 1.3em;
}

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    z-index: 9999;
}

.chatboxtextarea {
    width: 206px;
    height:44px;
    padding:3px 0pt 3px 3px;
    /*border: 1px solid #eeeeee;*/
    color: black;
    margin: 1px;
    overflow:hidden;
    z-index: 9999;
}

.chatboxtextareaselected {
    /*border: 2px solid #f99d39;*/
    background-image: none;
    background-color: #FFFFFF;
    /* margin:0;
    border-width: 2px;*/
}

.chatboxmessage {
    margin-left:1em;
}

.chatboxinfo {
    margin-left:-1em;
    color:#666666;

}

.chatboxmessagefrom {
    margin-left:-1em;
    font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
    float: right;
}

.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    float: left;
    line-height: 15px;
}

.chatboxtitle {
    float: left;
}