input[type=text],input[type=password],textarea,select{
    padding: 2px;
}
.titleTables
{
    font-size:17px;
    font-weight:bold;
    margin-bottom: 10px;
    padding: 3px;
    width: 50%;
    text-align: center;
}
.label_output,.label_output_ui{
    margin: 5px;
}
.label_output div, .label_output_ui div{
    display: table;
    margin: 1px;
    padding-top: 2px;
    
}

.label_output div label,.label_output_ui div label{
    display: table-row;
    float: left;
    max-width: 150px;
    min-width: 150px;
    text-align: right;
    white-space: pre-line;
    padding: 3px;
    font-weight: bold;
}

.label_output div *,.label_output_ui div *{
    float: left;
    font-weight: normal;
}

.rCombo{
    padding: 4px;
    cursor:pointer;
}

.frmlbl
{
    width:130px;
    display:block;
    float:left;
     height:16px;
    padding-top:5px;
    font-weight: bold;   
}