.onlineWidget,.panel{	
    background-color:#F9F9F9;
    border:2px solid #FFFFFF;
    height:25px;
    bottom: 42px;
    position: fixed;        
    width:330px;
    cursor:pointer;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;	
    -moz-box-shadow:0 0 3px #CCCCCC;
    -webkit-box-shadow:0 0 3px #CCCCCC;
    box-shadow:0 0 3px #CCCCCC;

}
.onlineWidget:hover{
    background-color:#fcfcfc;
}
.onlineWidget:hover .arrow{
    background-position:bottom center;
}
img.userInfo
{
    color: black;
    text-align: left;
    font-weight: normal;
    cursor: pointer;       
}
.onlineWidget .count{
    color:#777777;
    float:left;
    font-size:26px;
    font-weight:bold;
    margin-top:5px;
    text-align:center;
    width:30px;
}
.arrow{	
    background-image:url("http://static.o.bts.mcets-inc.com/kernel/img/bts/admin/arrow.png") ;
    background-repeat: no-repeat;
    background-position: top center;
    position:absolute;
    right:6px;
    bottom: 1px;
    width:25px;
    height:25px;
}
.panel{
    position:absolute;
    cursor:default;	
    bottom:33px;
    left:0;
    max-height: 300px;
    display:none;
    height: auto;
    margin:-2px;
    z-index:1000;
    overflow-y: auto;        
}
.preloader{
    display:block;
    margin:10px auto;
}

.geoRow{
    height:22px;
    overflow:hidden;
    padding:2px 0;
}
.flag{
    float:left;
    margin:0 4px;
}
.country, .people{
    padding:2px;
}
.people{
    font-weight:bold;
}
.tutorial-check{
    margin:0 auto;
    display:block;
}
p.tutInfo{
    padding:10px 0;
    text-align:center;
    position:fixed;
    bottom:0px;
    background-color:#011D2E;
    border-top:1px solid #011d2e;
    width:100%;
}
.onlineWidget .label{
    margin-top:5px;
}
div.titleRight{float: right;height: 28px;}
div.titleLeft{float: left;line-height: 28px;}
div.titleRight a{margin: 1px;}
.ui-tabs .ui-tabs-nav li a img { float: left; margin-right: 5px}
div#shippingType{margin-top: 10px;}

div.divTable{}
form label.labelForm{width: 200px;float: left;line-height: 22px;font-weight: bold;height: 22px;margin-right: 5px;}
div.formRow{padding: 5px 10px;border: 1px transparent solid;}
div.label_output div{float: left;display: block;}
.label_output {float: left;width: 100%;padding: 0;margin: 0;}
form label.labelTxtComment{text-align: right;width: 50px;}
#txtComment{width: 250px; height: 100px;}
.divCont dl, .divCont dl dd {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}
.divCont ul, .divCont ul li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.divCont ul li {
    padding: 5px 0;
}

.divCont ul li label {
    float: left;
    font-weight: bold;
    line-height: 20px;
    width: 130px;
}
.divCont ul li span{float: left;width: 130px;line-height: 20px;}
#infoUserOnline
{
    padding: 3px;
}
#infoUserOnline form fieldset
{
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}   