#browser-detection {
	background: #FFFFE5;
	color: #333333;
	position: fixed;
	_position: absolute;
	padding: 10px 15px;
	font-size: 13px;
	font-family: "Trebuchet MS", "Segoe UI", Arial, Tahoma, sans-serif;
	border-radius: 5px;
	border: 1px solid #D6D6C1;
	-moz-border-radius: 5px;
	width: 700px;
	z-index:1001;
}
#browser-detection P {
	margin: 0;
	padding: 0;
	background: transparent;
	line-height: 135%;
	width: auto;
	float: none;
	border: none;
	text-align: left;
}
#browser-detection P.bd-title {
    padding-top: 0px;
    font-size: 25px;
    line-height: 100%;
}
#browser-detection P.bd-notice {
    padding-bottom: 5px;
    padding-top: 5px;
}
#browser-detection SPAN.bd-highlight { color: #B50E0E; }
#browser-detection A#browser-detection-close {
	width: 15px;
	height: 15px;
	outline: none;
	position: absolute;
	right: 10px;
	top: 10px;
	text-indent: -500em;
	line-height: 100%;
	background: url(img/close.gif) no-repeat center center;
}
#browser-detection A#browser-detection-close:HOVER { background-color: #F5F5DC; }
#browser-detection UL.bd-browsers-list, #browser-detection UL.bd-browsers-list LI,
#browser-detection UL.bd-skip-buttons, #browser-detection UL.bd-skip-buttons LI {
	padding: 0;
	margin: 0;
	float: left;
	list-style: none;
}
#browser-detection UL.bd-browsers-list { 
	clear: both;
	margin-top: 3px;
	padding: 7px 0;
	border-top: 1px solid #F5F5DC;
	border-bottom: 1px solid #F5F5DC;
	width: 100%;
}
#browser-detection UL.bd-browsers-list LI { text-align: left; }
#browser-detection UL.bd-browsers-list LI A {
	width: 60px;
	height: 55px;
	display: block;
	color: #666666;
	padding: 10px 10px 0 65px;
	text-decoration: none;
}
#browser-detection UL.bd-browsers-list LI A:HOVER {	text-decoration: underline; }
#browser-detection UL.bd-browsers-list LI.firefox A { background: url(img/firefox.gif) no-repeat left top; }
#browser-detection UL.bd-browsers-list LI.chrome A { background: url(img/chrome.gif) no-repeat left top; }
#browser-detection UL.bd-browsers-list LI.safari A { background: url(img/safari.gif) no-repeat left top; }
#browser-detection UL.bd-browsers-list LI.opera A { background: url(img/opera.gif) no-repeat left top; }
#browser-detection UL.bd-browsers-list LI.msie A { background: url(img/msie.gif) no-repeat left top; }
#browser-detection UL.bd-skip-buttons {	margin-top: 10px; }
#browser-detection UL.bd-skip-buttons LI {
	display: inline;
	margin-right: 10px;	
}
#browser-detection UL.bd-skip-buttons LI BUTTON { font-size: 13px; }
#browser-detection DIV.bd-poweredby {
	font-size: 9px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-style: italic;
}
#browser-detection DIV.bd-poweredby, #browser-detection DIV.bd-poweredby A { color: #AAAAAA; }
#browser-detection DIV.bd-poweredby A { text-decoration: underline; }
#browser-detection DIV.bd-poweredby A:HOVER { text-decoration: none; }
#black_overlay {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1000;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
} 