body{
    margin-bottom: 42px;
}
#user_info{cursor:pointer;}
.right{float:right;}
.padding_top_body{margin-top: 0;}
.nav_menu{margin-bottom: 0;}
@media (min-width: 980px) {
    .padding_top_body{margin-top: 80px;}
}
.navbar_shortcuts{top: 41px;z-index: 100;}
.ui-icon.tree-wrap-ltr{
    background-image: url('http://static.o.bts.mcets-inc.com/kernel/css/bts/bootstrap/img/glyphicons-halflings.png');
}
.navbar-inverse .nav > .open > a > [class^="icon-"],
.navbar-inverse .nav > li:hover > a > [class^="icon-"]{
    background-image: url("http://static.o.bts.mcets-inc.com/kernel/css/bts/bootstrap/img/glyphicons-halflings-white.png");
}
.menu_right a{position: relative;}
.menu_right span.notification{position: absolute;top: 4px;left: 32px;}
.body_login {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.form-signin {
    position: relative;
    max-width: 290px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.login_logo{margin: 0 auto;display: block;}
img.layout_logo{padding-top: 5px; width: 120px; height: 30px;float: left;

}
#customerWebDateBirth, .ui-datepicker-trigger{vertical-align: top;}
.ui-datepicker-trigger{cursor: pointer;}
.change_language{
    position: absolute;
    width: 50px;
    right: -51px;
    top: 20px;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.change_language a{cursor: pointer;}
.padding5{padding: 5px;}
.btn_logout:hover b{
    background-color: rgba(255,0,0,.35);
}
.ui-jqgrid{
    margin-top: 10px;
}
ul#shortcutsSystem{
    float: right;  
}
ul#shortcutsSystem a
{  
    margin-left: 05px;
}
ul#shortcutsRoot{
    padding-top: 10px;
    float: right;
}
ul#shortcuts li
{
    list-style: none;    
}
ul.shortcuts a img
{
    margin-left: 10px;
    text-decoration:none; 
    height: 32px;
    width: 32px; 
    opacity:0.4;    
    padding: 4px;
}
ul.shortcuts a img:hover  {opacity:1.0;}
ul#ulNotification ul,ul#ulNotification ol{padding-left: 40px;}
ul#ulNotification ul li{list-style: disc;}
ul#ulNotification ol li{list-style: decimal;}
ul#ulNotification{overflow-y:auto;overflow-x:visible;height:500px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;-khtml-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;-khtml-border-bottom-left-radius:4px;border-bottom-left-radius:4px;border-bottom:1px solid #EBEBEB;border-top:1px solid transparent;border-left:1px solid #EBEBEB;border-right:1px solid #EBEBEB;position:absolute;width:420px;right:0;top:0;z-index:0;color:#444;background-color:#FFF;padding-bottom:5px;} 
ul#ulNotification li.notification:not(:last-child){border-bottom:1px solid #EBEBEB;border-top:1px solid transparent;clear:both;display:block;min-height:60px;outline:medium none;position:relative;} 
ul#ulNotification li.message_new{background-color:#FEE;} 
ul#ulNotification li.notification div.div_notification{font-size:13px;position:relative;padding:7px 10px;} 
.notification_response_btn,.notification_response_view{visibility:hidden;margin-right:5px;float:left;font-size:11px;cursor:pointer;} 
ul#ulNotification li.notification:hover:not(:last-child){background-color:rgba(0,153,185,0.1);border-color:rgba(0,153,185,0.15);} 
.general_notification_footer{color:#999;line-height:16px;} 
.icon_response{float:left;background:url(http://static.o.bts.mcets-inc.com/kernel/img/ico/t_icons.png) no-repeat scroll 0 0 transparent;height:15px;width:15px;outline:none;text-indent:-99999px;display:inline-block;position:relative;vertical-align:baseline;margin:0 3px -3px 2px;} 
.icon_view_notification{float:left;background:url(http://static.o.bts.mcets-inc.com/kernel/img/ico/t_icons.png) no-repeat scroll 0 0 transparent;height:15px;background-position:-32px -31px;width:15px;outline:none;text-indent:-99999px;display:inline-block;position:relative;vertical-align:baseline;margin:0 3px -3px 2px;} 
ul#ulNotification li.notification div.row_notification{display:block;line-height:15px;position:relative;} 
ul#ulNotification .user_name{color:#333!important;font-weight:700;} 
ul#ulNotification .message_date{color:#999;font-size:12px;} 
ul#ulNotification .notification_text{font-family:Arial,"Helvetica Neue",sans-serif;line-height:19px;word-wrap:break-word;color:#0099B9;padding:0;} 
ul#ulNotification .old_notification{background-color:#FEFEFE;} 
ul#ulNotification .message_container{width:750px;margin:0 auto;padding:10px;} 
ul#ulNotification .more_notification{background:none repeat scroll 0 0 #E3F1FA;border:1px solid #C6E4F2;border-radius:3px 3px 3px 3px;cursor:pointer;display:block;font-size:13px;text-align:center;text-shadow:0 1px 0 #FFF;z-index:2;margin:10px 15px;padding:5px 1px;}
ul#ulNotification .more_notification:hover{background:none repeat scroll 0 0 #D9ECF9;border-color:#B1D4E4;} 
ul#ulNotification .more_notification:active{background:none repeat scroll 0 0 #E3F1FA;} 
.general_notification_image{border:1px solid #EBEBEB;float:left;width:48px;height:48px;overflow:hidden;cursor:pointer;} 
.general_notification_content{margin-left:55px;} 
.general_time{margin-right:5px;float:left;font-size:11px;cursor:pointer;} 
#notification_response_view_div{z-index:99;position:absolute;display:none;} 
.notification_response_view_shadow{background-color:#000;height:410px;opacity:0.75;position:absolute;width:340px;z-index:-1;} 
.notification_response_view_cont{height:390px;position:absolute;width:320px;z-index:-1;} 
.notification_response_view_inner{font-family:Arial,"Helvetica Neue",sans-serif;background:#FFF;height:100%;color:#000;overflow:auto;} 
.notification_response_view_inner h4{color:#0099B9;font-size:16px;} 
.notification_response_view_inner p{font-size:14px;line-height:18px;padding:10px 0;} 
.notification_response_view_loading{width:300px;height:370px;position:absolute;z-index:100;background-image:url(http://static.o.bts.mcets-inc.com/kernel/img/ajax-loading.gif);background-repeat:no-repeat;background-color:#FFF;background-position:50% 50%;} 
#msg_response_div{height:150px;position:absolute;width:340px;z-index:99;display:none;} 
.padding10{padding:10px;} 
.msg_response_shadow{position:absolute;width:340px;height:150px;background-color:#000;opacity:0.75;z-index:-1;} 
.msg_response_form_div{z-index:200;} 
ul#ulNotification li.li_post_notification,ul#ulNotification li.li_post_notification:hover{background-color:rgba(255,102,0,0.2);} 
#f_instant_msg_cont{font-size:15px;color:#0099B9;resize:none;background-image:url(http://static.o.bts.mcets-inc.com/kernel/img/ico/08-chat.png);height:90px;width:313px;background-position:5px 67px;background-repeat:no-repeat;} 
.f_instant_actions{margin-top:10px;} 
.f_instant_btn{background:none;cursor:pointer;border:1px solid transparent;} 
.f_instant_btn:hover{border-color:#C6E4F2;} 
.f_instant_icon{width:16px;height:16px;float:left;margin:0 3px;} 
.f_instant_text{color:#C6E4F2;margin-right:3px;} 
#menu_cont_notification{z-index:999;height:407px;position:absolute;right:40px;top:42px;width:700px;display: none;} 
.ui-widget .lightSearch{font-style:italic;color:#CCC;} 
#form_message_t ul li{padding:5px 0;} 
.user_msg{padding-left:5px;padding-right:5px;margin:5px;} 
.user_msg p{text-align:justify;padding:3px;} 
.user_msg p .ui-icon{float:left;margin-right:.3em;} 
#cp-text-error,#cp-text-info{padding-left:4px;} 
.div_img_action_msg{background-repeat:no-repeat;background-position:0 25px;height:25px;margin-top:-1px;position:absolute;width:24px;background-image:url(http://static.o.bts.mcets-inc.com/kernel/img/ico/t_response.png);} 
.div_img_action_response{background-position:0 0;} 
ul.menu_right_help{float:right;display:inline-block;line-height:1em;list-style:none outside none;position:relative;margin:0;padding:0 6px;} 
.span_text_help{text-align:justify;float:left;padding-left:15px;width:255px;padding-top:1px;} 
.ul_help li{margin-bottom:5px;}
#form_message_t{float: left;}
#cke_dlg_form_message_content{float: left;}
.modal-footer .select2-container{text-align: left;}
#form_message_t div.controls{margin-left: 0;}
#ul_preview_message{
    float: right;
    overflow-y: auto;
    overflow-x: visible;
    height: 350px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;    
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    width: 390px;
    right: 0;
    top: 0;
    z-index: 0;
    color: #444;
    background-color: white;
    padding-bottom: 5px;
    display: block;
    margin: 0;
}
#ul_preview_message{list-style: none;}
#ul_preview_message .old_notification {
    background-color: #FEFEFE;
}
#ul_preview_message li.item_message:not(:last-child) {
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid transparent;
    clear: both;
    display: block;
    min-height: 60px;
    outline: medium none;
    position: relative;
}
#ul_preview_message li.item_message:first-child{
    border-top: none;
}
#ul_preview_message li.item_message:hover:not(:last-child) {
    background-color: rgba(0, 153, 185, 0.1);
    border-color: rgba(0, 153, 185, 0.15);
}
#ul_preview_message li.item_message div.div_notification {
    font-size: 13px;
    position: relative;
    padding: 7px 10px;
}
#ul_preview_message li.item_message div.row_notification {
    display: block;
    line-height: 15px;
    position: relative;
}
#ul_preview_message .user_name {
    color: #333!important;
    font-weight: 700;
}
#ul_preview_message .message_date {
    color: #999;
    font-size: 12px;
}
#ul_preview_message .notification_text {
    font-family: Arial,"Helvetica Neue",sans-serif;
    line-height: 19px;
    word-wrap: break-word;
    color: #0099B9;
    padding: 0;
}
#ul_preview_message ul,#ul_preview_message ol{padding: 0 40px;}
#ul_preview_message ul li{list-style: disc;}
#ul_preview_message ol li{list-style: decimal;}

#ul_preview_message li.blur_effect{
    -webkit-filter: blur(2px);
}

#ul_preview_message .notification_text p{
    margin: 0;
}
#footer {
    height: 40px;
    bottom: 0;
    position: fixed;
    width: 100%;
    border-bottom: none;
    -moz-border-radius: 0 4px 0 0; 
    border-radius: 0 4px 0 0;
    line-height: 2em;
    background-color: #f5f5f5;
}
.container em.credit {
    margin:7px 0;
}
.container strong.credit {
    margin:7px 0;
}
.popover.bottom{
    margin-left: -9px;
    margin-left: -43px;
}
.popover.bottom .arrow{
    margin-left: 32px;;
}
.changeLanguage:hover{
  cursor:pointer;  
}
#lang_es , #lang_en{
    cursor: pointer;
}
.masthead img{
width:100%;
 }