.text-dec-under {text-decoration: underline}
.icon-trash,.icon-hand-right,.icon-remove,.icon-random,#change_view,#notice_pax,.icon-retweet,.icon-tags,.icon-certificate,.icon-wrench,
.icon-calendar,.icon-question-sign,.icon-info-sign,.icon-file,.icon-chevron-up,.icon-chevron-down,.found_route,.icon-download,.icon-upload,
.icon-hand-left, .cpointer{cursor: pointer}
.text-dec-under-color {color: #0088CC}
.alert {padding: 8px 17px 8px 14px;color: #222222}
.span4 {width: 275px}
.borde {border: 1px solid #cccccc}
.fleft{float: left}
.fright{float: right}
.cboth{clear: both}
.mleft5{margin-left: 5px}
.mtop1{margin-top: 1px}
.mtop2{margin-top: 2px}
.mtop5{margin-top: 5px}
.mtop8{margin-top: 8px}
.mtop10{margin-top: 10px}
.mtop12{margin-left: 12px}
.mtop18{margin-top: 18px}
.mtop20{margin-top: 20px}
.mleft2{margin-left: 2px}
.mleft3{margin-left: 3px}
.mleft5{margin-left: 5px}
.mleft6{margin-left: 6px}
.mleft10{margin-left: 10px}
.mleft15{margin-left: 15px}
.mleft16{margin-left: 16px}
.mleft20{margin-left: 20px}
.mleft40{margin-left: 40px}
.mleft60{margin-left: 60px}
.mleft85{margin-left: 85px}
.mleft100{margin-left: 100px}
.mright2{margin-right: 2px}
.mright3{margin-right: 3px}
.mright5{margin-right: 5px}
.mright10{margin-right: 10px}
.opacity{opacity:0.5;}
.opacity06{opacity:0.6;}
.txt-type{bottom: 0px;right: 8px;font-size: 10px}
.fweight{font-weight: bold}
.price{background-color: #F5F5F5; padding: 3px;border-radius: 3px 3px 3px 3px;}
.label-info{background-color: #DFF0F6; padding: 3px;border-radius: 3px 3px 3px 3px; text-align: center; padding: 2px 17px;font-size: 12px;}
.pos-rel{position: relative}
.pos-abs{position: absolute}
.right8{right: 8px}
.alert{margin-bottom: 10px;background-color: #ffffff;border: 1px solid #DDDDDD;}
/*hr {margin: 10px 0;}*/
.navbar-inner-2{background-color: #FDFDFD;/*background-image: linear-gradient(to bottom, #FFFFFF, #FDFDFD);*/box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067)}
.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {margin-top: 1px}
.well {padding: 10px}
.width50{width: 50px;}    
.width55{width: 55px;}    
.width70{width: 70px;}    
.width100{width: 100px;}    
.width172{width: 172px;}    
.width200{width: 200px;}    
.width210{width: 210px;}    
.width230{width: 230px;}    
.width260{width: 260px;}    
.width285{width: 285px;}    
.width300{width: 260px;}    
.width95p{width: 95%;}    
.width3p{width: 3%;}    
.width1p{width: 1%;}
.paddr1p{padding-right: 1%}
.mleft8{margin-left: 8px;}
.lheight25{line-height: 25px;}
.input-append, .input-prepend {margin-bottom: 0px;}
.txt-serv{margin-left: 5px; font-size: 11.5px;}
#s2id_cmb_type_card,#s2id_cmb_state,#s2id_cmb_expiration_month,#s2id_cmb_country{margin-left: 0px;}
form {margin: 0 0 5px}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 16px;
}
.input-append .add-on, .input-prepend .add-on {
    height: 16px;
}
input, textarea, .uneditable-input {
    width: 180px;
}
.fontsize11{font-size: 11px;}
.fontsize11p5{font-size: 11.5px;}
.fontsize12{font-size: 12px;}
hr {
    margin: 8px 0;
}
.page-header {
    margin: 0;
}

.info{
    margin-top: 6px; background-color: #d9edf7; border-color: #bce8f1; color: #3a87ad; padding: 8px 35px 8px 14px; color: #222222; font-weight: normal;    
}
.error{
    margin-top: 6px; background-color: #F2DEDE; border-color: #EED3D7; color: #B94A48; padding: 8px 35px 8px 14px;
}

.chevrom{
    margin-top: 6px; background-color: #ABD7ED; border: 0 none; padding: 0; text-align: center; width: 20%; margin: 5px auto;
}

.hover-route{
    background-color: #CDE7F4;
}
#btn-one-way, #btn-round-trip{
    font-size: 11.5px;height: 20px;line-height: 11px;width: 70px;
}
.color-desc{
    color: #8F8F8F;; font-size: 11px;
}
.color-desc-all{
    color: #666666; font-size: 11.7px;
}
.color-req{color: #B94A48;}

.tooltip.in{
    opacity:.8;
    filter:alpha(opacity=80)
}

legend {
    margin-bottom: 0px;
}